@{
    ViewData["Title"] = "Home Page";
}

<div id="HomePage" class="text-center">
    <h1 class="display-4">Welcome to Movie Mania</h1>
    <p>
        We are your premier destination for discovering and enjoying a vast collection of movies! 
        Dive into a world of cinematic wonders with us, where we showcase a curated selection of must-watch films across genres. 
        From timeless classics to the latest blockbusters, Movie Mania is your go-to platform for exploring and experiencing the magic of cinema. 
        Whether you're in search of gripping dramas, thrilling action flicks, heartwarming comedies, or captivating documentaries, we've got you covered. 
        Join us on this cinematic journey and let the movies come alive at Movie Mania!
    </p>
</div>
